# install with: pip install -r requirements.txt

# equation solver
git+git://github.com/b-hodges/equations.git@master#egg=equations

# Special discord version
git+git://github.com/Rapptz/discord.py.git@rewrite#egg=discord-py
aiohttp >= 2.0.0, < 2.3.0
websockets >= 3.1, < 4.0

# database
sqlalchemy ~= 1.2
psycopg2 ~= 2.7
